{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/styles.css'%}">
    <title>Way2AgriTech</title>
</head>
<body>
    <div class="home-page">
        <h1>Way2AgriTech</h1>
        <img src="{% static 'core/agritech.png' %}" alt="Logo" class="logo">
        <p>Backend Django Rest API</p>
    </div>
</body>
</html>